@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

*{
    box-sizing: border-box;
}

.card:hover{
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.root{
    width: 375px;
    height: 100vh;
    background-color: #FB6B6B;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

/*=============
=== WELCOME ===
=============*/

.welcome {
    width: fit-content;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcome img{
    width: 136px;
    height: 161px;
}

.welcome p{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;

    color: #FFFFFF;
}

.welcome button{
    width: 246px;
    height: 54px;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D70900;
}

/*===========
=== START ===
=============*/

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    width: 256px;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dashed black;

    position: absolute;
    top: 0px;
    
}

.top img{
    width: 52px;
    height: 60px;
}

.top p{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    color: #FFFFFF;
}

.cards{
    width: 300px;
    height: fit-content;
    border: 1px dashed black;

    position: absolute;
    top: 150px;
}

.card{
    margin-bottom: 25px;
}

.cover{
    width: 300px;
    height: 65px;
    padding: 0 15px;

    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover p{
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #333333;
}

.cover ion-icon{
    width: 30px;
    height: 30px;
}



/*=============
=== GENERAL ===
=============*/

.hide {
    display: none;
}